{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your meta description here." />
    <meta name="keywords" content="keyword1, keyword2, keyword3" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'images/favicon.ico' %}">
    <title>Habeshut</title>
    {% block head_content %}{% endblock %}
    {% include 'head/style.html' %}
    {% include 'head/script.html' %}
  </head>
  <body class="flex flex-col font-inter text-light-primary mx-14 my-11">
    <header class="flex items-center justify-between overflow-hidden rounded-full mb-11 bg-light-primary">
      <a href=""
         class="flex items-center ml-12 text-xl font-bold font-satoshi">
        <img src="{% static 'images/logo_dark.svg' %}"
             alt="Habeshut logo"
             width="40"
             height="40">
      Habeshut</a>
      <nav>
        <ul class="flex gap-12">
          <li>
            <a href="{% url 'home' %}" class="text-lg font-medium">Home</a>
          </li>
          <li>
            <a href="{% url 'listings:properties' %}" class="text-lg font-medium">Property</a>
          </li>
          <li>
            <a href="{% url 'realtors:agents' %}" class="text-lg font-medium">Agents</a>
          </li>
          <li>
            <a href="{% url 'faq' %}" class="text-lg font-medium">FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="{% url 'realtors:contact' %}"
         class="py-5 pl-10 pr-8 rounded-l-lg btn-light">Contact Us</a>
    </header>
    <main>
      {% block body_content %}{% endblock %}
    </main>
    <footer class="grid grid-cols-3 p-10 text-white gap-7 bg-dark-primary rounded-3xl">
      <h2 class="col-span-2 font-medium text-8xl ">Start Your Project Now!</h2>
      <a href="{% url 'realtors:contact' %}"
         class="flex items-center h-full px-12 text-lg font-bold text-white place-self-end rounded-3xl bg-dark-secondary w-fit">
        Contact Us
      </a>
      <p class="text-2xl font-thin">Made for you convenience for a more beautiful future for you and your family</p>
      <div class="flex items-center justify-between py-5 mt-24 overflow-hidden rounded-full px-14 bg-dark-secondary col-span-full">
        <a href="" class="flex items-center text-xl font-bold font-satoshi">
          <img src="{% static 'images/logo_light.svg' %}"
               alt="Habeshut logo"
               width="40"
               height="40">
        Habeshut</a>
        <nav>
          <ul class="flex gap-12">
            <li>
              <a href="{% url 'home' %}" class="text-lg font-medium">Home</a>
            </li>
            <li>
              <a href="{% url 'listings:properties' %}" class="text-lg font-medium">Property</a>
            </li>
            <li>
              <a href="{% url 'realtors:agents' %}" class="text-lg font-medium">Agents</a>
            </li>
            <li>
              <a href="{% url 'faq' %}" class="text-lg font-medium">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
