{% extends 'base.html' %}
{% load static %}
{% block content %}
     <section>
          <section class="grid p-5 rounded-3xl bg-light-primary">
               <h2 class="text-5xl font-bold">Contact Us</h2>
               <p class="w-[800px]">
                    Questions? Our team is here to help! Whether you're buying, selling, or renting, we're dedicated to assisting you. Contact us via phone, email, or the form below. Let's find your dream property together!
               </p>
          </section>
          <section class="grid grid-cols-2 gap-10 my-11">
               <form action="" method="post" class="grid grid-cols-2 gap-3">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit"
                           value="Send Message"
                           class="px-10 py-3 rounded-lg cursor-pointer btn-light col-span-full w-fit place-self-center">
               </form>
               <div class="flex flex-col gap-10">
                    <div class="flex gap-5">
                         <img src="{% static 'images/icons/mail.png' %}"
                              alt=""
                              width="40"
                              height="40"
                              class="h-fit">
                         <div class="flex flex-col gap-5">
                              <h6 class="text-2xl font-medium">Say Hello</h6>
                              <ul class="flex flex-col col-span-2 gap-2">
                                   <li>
                                        <span class="text-gray-500">Email.</span> contact@example.com
                                   </li>
                                   <li>
                                        <span class="text-gray-500">Phone.</span> +54 356 945234
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <div class="flex gap-5">
                         <img src="{% static 'images/icons/pin.png' %}"
                              alt=""
                              width="40"
                              height="40"
                              class="h-fit">
                         <div class="flex flex-col gap-5">
                              <h6 class="text-2xl font-medium">Find us in</h6>
                              <ul class="flex flex-col col-span-2 gap-2">
                                   <li>Bole Road, Addis Ababa, Ethiopia</li>
                              </ul>
                         </div>
                    </div>
                    <div class="flex gap-5">
                         <img src="{% static 'images/icons/share.png' %}"
                              alt=""
                              width="40"
                              height="40"
                              class="h-fit">
                         <div class="flex flex-col gap-5">
                              <h6 class="text-2xl font-medium">Social networks</h6>
                              <ul class="flex col-span-2 gap-4">
                                   <li class="border border-gray-200 rounded-md hover:border-dark-primary">
                                        <button class="p-2 rounded-md btn-dark">
                                             <img src="{% static 'images/icons/facebook.png' %}"
                                                  alt=""
                                                  width="20"
                                                  height="20">
                                        </button>
                                   </li>
                                   <li class="border border-gray-200 rounded-md hover:border-dark-primary">
                                        <button class="p-2 rounded-md btn-dark">
                                             <img src="{% static 'images/icons/twitter.png' %}"
                                                  alt=""
                                                  width="20"
                                                  height="20">
                                        </button>
                                   </li>
                                   <li class="border border-gray-200 rounded-md hover:border-dark-primary">
                                        <button class="p-2 rounded-md btn-dark">
                                             <img src="{% static 'images/icons/instagram.png' %}"
                                                  alt=""
                                                  width="20"
                                                  height="20">
                                        </button>
                                   </li>
                                   <li class="border border-gray-200 rounded-md hover:border-dark-primary">
                                        <button class="p-2 rounded-md btn-dark">
                                             <img src="{% static 'images/icons/linkedin.png' %}"
                                                  alt=""
                                                  width="20"
                                                  height="20">
                                        </button>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </section>
     </section>
{% endblock %}
